@CHARSET "UTF-8";

#userlabel {
    margin-top:10px;
}
#passwordlabel {
    margin-top:20px;
}
.userlogin {
    margin-bottom:10px;
}
#password {
    margin-top:10px;
}

.btn-login {
    margin: 20px 20px 20px 20px;
}